* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
}

.container {
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

h4, h5 {
    font-weight: 900;
    padding-block: .5rem;
}

.all-content-wrapper {
    margin-top: 5rem;
    padding-top: 1rem;
}

.content-main-box {
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.content-main-box-left {
    background-color: #b7b7a4;
}

.box-left-green {
    background-color: #94ee6a;
}

.box-left-red {
    background-color: #d88a8a;
}

.middle-content-wrapper {
    padding: 1.5rem;
    display: flex;
    align-content: center;
}

.fa-lightbulb,
.fa-check-circle,
.fa-exclamation-triangle {
    margin-right: 1rem;
    align-self: center;
}

.fa-times {
    align-self: center;
}

.fa-times:hover {
    cursor: pointer;
}

.content-wrap {
    padding-block: 2rem;
    display: flex;
    justify-content: space-around;
}

.button-wrapper {
    border-top: 1px solid;
    padding-inline: 1rem;
    padding-block: 1rem;
    display: flex;
    justify-content: flex-end;
}

button {
    font-weight: 500;
    /*margin: 0.50rem;*/
    padding-inline: 0.75rem;
    padding-block: 0.80rem;
    background: white;
    border-radius: 8px;
}

.left-button {
    background-color: #6b705c;
    color: whitesmoke;
}

.button-clr-blue {
    margin-left: 1rem;
    background: #023e8a;
    color: whitesmoke;
    border: none;
}

.button-clr-green {
    margin-left: 1rem;
    background: #006400;
    color: whitesmoke;
    border: none;
}

.button-clr-red {
    margin-left: 1rem;
    background: #d00000;
    color: whitesmoke;
    border: none;
}

.header-wrapper {
    border-radius: 10px 10px 0 0;
    padding: 1.2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    background-color: #a5a58d;
}

.green {
    background-color: #7cd553;
}

.red {
    background-color: #e85555;
}

.red h4 {
    color: #d00000;
}

.mid-3 h5 {
    color: #d00000;
}

.green h4 {
    color: #006400;
}

.mid-1 h5 {
    color: #023e8a;
}

.mid h5 {
    color: #006400;
}

.mid-2 {
    background-color: #90e469;
}



@media screen and (max-width: 770px) {
    .content-main-box-media {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 770px) {
    .container {
        border: none;
        box-shadow: none;
    }

    .middle-content-wrapper {
        display: block;
        text-align: center;
    }

    .fa-lightbulb,
    .fa-check-circle,
    .fa-exclamation-triangle {
        margin-bottom: 1.3rem;
    }
}